SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

libtorch_path="$SCRIPT_DIR/third-party/libtorch/lib"
case "$(uname)" in
    Darwin*)    export DYLD_LIBRARY_PATH="$libtorch_path:$DYLD_LIBRARY_PATH";;
    Linux*)     export LD_LIBRARY_PATH="$libtorch_path:$LD_LIBRARY_PATH";;
    CYGWIN*|MINGW*|MSYS*) export PATH="$libtorch_path:$PATH";;
    *)          echo "Unsupported platform: $(uname)";;
esac
